@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 63.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
:root {
  --text: #ffffff;
  --purple: #5a189a;
  --ai_purple: #3c096c;
  --like_back: #7b2cbf;
  --grey: #e8ebf0;
  --black: #162550;
  --aiclmb: #162550;
  --green: #04fed1;
  --blue: #4361ee;
  --massage_back: #dee2e6;
  --chatbot_back: #f8f9fa;
  --meback: #162550;
  --rdback: #ffffff;
  --ff: #ffffff;
}
.dark {
  --meback: #2b3945;
  --text: #000000;
  --purple: #9941f1;
  --ai_purple: #592c84;
  --like_back: #7b2cbf;
  --grey: #2b3945;
  --black: #f6ffff;
  --green: #04fed1;
  --blue: #4361ee;
  --massage_back: #2b3945;
  --rdback: #2b3945;
  --chatbot_back: #202c37;
  --ff: #ffffff;
  --aiclmb: #592c84;
}
.landing_main_page {
  background-color: var(--chatbot_back);
  color: var(--black);
}
.container {
  width: 85%;
}
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  display: flex;
}
.c {
  display: flex;
  flex-direction: column;
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatbot_main_wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.chat_bot_main {
  background-color: var(--chatbot_back);
  height: 62rem;
  width: 33.67rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(170, 11, 227, 0.193) 0px 7px 29px 0px;
}
header {
  height: 7.3rem;
  width: 100%;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  gap: 1rem;
}
a {
  text-decoration: none;
  width: max-content;
}
header img {
  width: 4rem;
}
.mainlogo_chat {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.crossLogo {
  font-size: 2.5rem;
  color: var(--ff);
  cursor: pointer;
}
.heading {
  color: var(--ff);
  font-weight: 550;
}
.online_main {
  color: var(--green);
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
}
footer {
  height: 7.3rem;
  width: 100%;
  background-color: var(--text);
  position: absolute;
  bottom: 0;
  /* border-top: .2rem solid var(--ai_purple); */
}
.input_main {
  background-color: var(--massage_back);
  width: 30.4rem;
  height: 5.3rem;
  border-radius: 1.3rem;
  padding: 0 2rem;
}
.input_main input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--black);
}
.send {
  font-size: 2rem;
  color: var(--blue);
  cursor: pointer;
}
.chatbot_chat_main {
  overflow-y: auto;
  height: 47.2rem;
  z-index: 99;
  padding: 2rem 0;
  overflow-x: hidden;
  gap: 2rem;
  color: var(--black);
}
.chatbot_chat_main::-webkit-scrollbar {
  width: 0.5rem;
}
.aiclm img {
  width: 2.2rem;
}
.err {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.mychat_aichat_main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.chat_main {
  position: relative;
  width: 100%;
}

.chat_cont,
.acc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.chat {
  width: 30rem;
  background-color: var(--ai_purple);
  border-radius: 1.5rem;
  position: relative;
  border-bottom-right-radius: 0;
  padding: 1rem;
  padding-bottom: 1.5rem;
}
.chat::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  right: -2.999rem;
  background-color: transparent;
  border: 3rem solid var(--ai_purple);
  border-color: transparent;
  transform: rotate(45deg);
  border-bottom-color: var(--ai_purple);
}
.chat_article {
  font-size: 1.2rem;
  color: var(--ff);
  text-transform: capitalize;
}
.chat_logo_main {
  background-color: var(--like_back);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-align: center;
  z-index: 9999;
}
.cl {
  color: var(--ff);
  font-size: 2rem;
  font-weight: 600;
}
.aicontent {
  width: 30rem;
  background-color: var(--massage_back);
  border-radius: 1.5rem;
  position: relative;
  border-bottom-left-radius: 0;
  padding: 1rem;
  padding-bottom: 1.5rem;
  color: var(--black);
}
.aicontent::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: -2.42rem;
  background-color: transparent;
  border: 2.5rem solid var(--massage_back);
  border-color: transparent;
  transform: rotate(45deg);
  border-right-color: var(--massage_back);
}
.aiclm {
  background-color: var(--aiclmb);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 4002222045;
}
.time_logo_main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 97%;
}
.aiarticle {
  font-size: 1.2rem;
  color: var(--black);
}
.seenmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  padding-left: 2rem;
}
.seen {
  display: flex;
  margin-bottom: 2rem;
  width: max-content;
  align-items: center;
  gap: 0.5rem;
}
.time {
  font-size: 1.18rem;
  font-weight: 500;
}
.si {
  font-size: 2rem;
}
.sb {
  color: var(--blue);
}

/* loading chat */
.pre_loading_main {
  width: 85%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.imglogo_main {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--aiclmb);
  display: grid;
  place-items: center;
}
.imglogo_main img {
  width: 65%;
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  height: 3rem;
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--black);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 2px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 14px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 26px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
.rigth {
  position: relative;
  height: 80vh;
  width: 50%;
}
.forground_main {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 640px;
}
.lds-ripple div {
  position: absolute;
  border: 32px solid var(--blue);
  opacity: 1;
  background-color: var(--blue);
  color: var(--purple);
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
  0% {
    top: 288px;
    left: 288px;
    width: 64px;
    height: 64px;
    opacity: 0;
  }
  4.9% {
    top: 288px;
    left: 288px;
    width: 64px;
    height: 64px;
    opacity: 0;
  }
  5% {
    top: 288px;
    left: 288px;
    width: 64px;
    height: 64px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 640px;
    height: 640px;
    opacity: 0;
  }
}
.logodiv {
  background-color: var(--blue);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  animation: moveahed 5s ease-in-out infinite;
  box-shadow: rgba(109, 100, 111, 0.4) 0px 7px 29px 0px;
}

@keyframes moveahed {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}
.logodiv img {
  width: 70%;
  cursor: pointer;
}
/* ! header start ! */
.header {
  background-color: var(--grey);
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.logomain {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  background-color: var(--ai_purple);
  border-radius: 50%;
}
.logomain img {
  width: 60%;
}
.logo_name {
  gap: 1rem;
}
.logo_name h2 {
  font-size: 3rem;
  font-weight: 550;
  color: var(--purple);
}
h2 span {
  color: var(--blue);
}
button {
  border: 0.2rem solid var(--purple);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--purple);
  outline: none;
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  color: var(--purple);
  background-color: transparent;
}
.allLink {
  gap: 1rem;
}
.mode {
  gap: 0.5rem;
}
.modeicon {
  font-size: 2rem;
  font-weight: bold;
}
main {
  height: calc(100vh - 13rem);
  margin-top: 8rem;
  width: 100vw;
}

.description {
  text-transform: capitalize;
  font-weight: 550;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.description span {
  color: var(--blue);
}
.left {
  width: 50%;
  gap: 1rem;
}
.view {
  background-color: var(--blue);
  border: 0.2rem solid var(--blue);
  border-radius: 2rem;
  display: flex;
  gap: 0.5rem;
  outline: none;
  color: var(--ff);
  font-size: 1.7rem;
  width: 13rem;
  height: 4rem;
  transition: 0.3s ease;
}
.view:hover {
  color: var(--blue);
  transform: scale(1.02);
  background-color: transparent;
}
.pro {
  background-color: var(--blue);
  border: 0.2rem solid var(--blue);
}
.pro:hover {
  color: var(--blue);
}
.blue {
  color: var(--blue);
}
.cursor {
  background-color: var(--blue);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  width: 10rem;
  height: 10rem;
  filter: blur(8rem);
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
button {
  width: max-content;
}
.section2_main {
  margin-bottom: 10rem;
  width: 100vw;
}
.s2_heading_main {
  margin-top: 15rem;
}
.s2_heading {
  font-size: 5rem;
  font-weight: 600;
}

.data_heading_cont {
  cursor: pointer;
  padding: 3rem 2rem;
  border-radius: 1rem;
  row-gap: 3rem;
  column-gap: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s ease;
  position: relative;
}
.data_heading_cont:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: scale(0.95);
}
.data_heading_cont h3 {
  font-size: 3rem;
  font-weight: 550;
  text-transform: capitalize;
  position: relative;
}
.data_heading_cont h3::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 10%;
  background-color: var(--blue);
  bottom: 0.1rem;
  left: 0;
}
.dchm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 7rem;
  gap: 2rem;
  padding: 2rem 0;
}
.dhcmmm {
  position: relative;
}
.wgptc {
  font-size: 1.5rem;
}
.heading_back_main {
  position: absolute;
  bottom: -10rem;
  right: 50%;
  background-color: var(--blue);
  border-radius: 50%;
  pointer-events: none;
  transition: 0.2s ease;
  width: 10rem;
  height: 10rem;
  filter: blur(8rem);
  animation: rotate 1s linear infinite;
}

.alldivrotate {
  margin-top: 12rem;
}

.adr {
  position: relative;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  animation: rtd 10s linear infinite;
  box-shadow: rgba(3, 109, 231, 0.3) 0px 0px 0px 3px;
}
@keyframes rtd {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
.rd {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--rdback);
  font-size: 8rem;
}
.btm_cont {
  position: absolute;
  bottom: -6rem;
  color: var(--blue);
  box-shadow: rgba(38, 0, 255, 0.15) 0px 48px 100px 0px;
}
.left_cont {
  position: absolute;
  left: -6rem;
  color: #eacf00;
  box-shadow: rgba(242, 255, 0, 0.15) 0px 48px 100px 0px;
}
.top_cont {
  position: absolute;
  top: -6rem;
  font-size: 6rem;
  color: var(--green);
  box-shadow: rgba(0, 255, 102, 0.15) 0px 48px 100px 0px;
}
.right_cont {
  position: absolute;
  right: -6rem;
  font-size: 6rem;
  color: red;
  box-shadow: rgba(255, 77, 0, 0.15) 0px 48px 100px 0px;
}
.adrm {
  overflow: hidden;
  width: 100%;
  padding: 10rem 0;
}
.cbr {
  position: absolute;
  background-color: var(--ai_purple);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.cbr img {
  width: 50%;
}

.member_main {
  margin-bottom: 10rem;
}
.mastar_behind h3 {
  font-size: 3rem;
  font-weight: 550;
  text-transform: capitalize;
}
.mastar_behind {
  margin-top: 2.5rem;
}
.mastar_div_me_main {
  background-color: var(--meback);
  height: 48rem;
  width: 50%;
  margin-top: 3rem;
  overflow: hidden;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
  gap: 2rem;
}
.mastar_div_me_main::after {
  position: absolute;
  content: "";
  top: -30rem;
  background-color: var(--meback);
  height: 0%;
  width: 80%;
  border-radius: 50%;
  transition: 0.5s ease;
}
.mastar_div_me_main:hover::after {
  height: 100%;
}
.mastar_div_me_main:hover {
  background-color: var(--text);
  transform: scale(0.98);
}
.myimgdivmain {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease;
  position: relative;
  background-color: var(--text);
  z-index: 1;
}
.my_image_div {
  background-color: var(--text);
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 2;
  border-radius: 50%;
}
.my_image_div img {
  width: 130%;
  border-radius: 50%;
  transition: 0.5s ease;
}
.mastar_div_me_main:hover .my_image_div {
  width: 80%;
  height: 80%;
}
.mastar_div_me_main:hover .myimgdivmain {
  border: 0.3rem solid var(--black);
}
.name_role_main {
  color: var(--ff);
  gap: 0.5rem;
  transition: 0.5s ease;
}
.mastar_div_me_main:hover .name_role_main {
  color: var(--black);
}
.name {
  font-size: 3.5rem;
  font-weight: 550;
}
.who,
.role {
  font-size: 1.5rem;
  font-weight: 550;
}
.my_foter {
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--meback);
  transition: 0.5s ease;
  gap: 2rem;
  text-align: center;
  font-size: 2rem;
}
.mastar_div_me_main:hover .my_foter {
  height: 4rem;
}
.my_foter a {
  text-decoration: none;
  color: var(--ff);
  text-align: center;
  height: 2rem;
}
.va {
  z-index: 30;
}

.footer_landing_page {
  width: 100vw;
  height: 12rem;
  background-color: var(--meback);
  gap: 1rem;
}
.copyright,
.akashf {
  font-size: 2rem;
  color: var(--ff);
  text-transform: capitalize;
}
.line {
  background-color: var(--ff);
  height: 0.3rem;
  width: 50%;
}
.logomain img {
  width: 30%;
}

@media (max-width: 1219px) {
  .description {
    font-size: 3rem;
  }
}
@media (max-width: 1137px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 873px) {
  .mdir {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  main {
    height: auto;
    margin-top: 8rem;
  }
  .left {
    width: 90%;
    gap: 1rem;
  }
  .description {
    font-size: 3rem;
  }
  .rigth {
    position: relative;
    height: 80vh;
    width: 100%;
  }
}
@media (max-width: 642px) {
  .description {
    font-size: 2.5rem;
  }
}
@media (max-width: 502px) {
  .description {
    font-size: 2.2rem;
  }
  .pro {
    display: none;
  }
  .rigth {
    position: relative;
    height: 40vh;
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .mastar_div_me_main {
    width: 70%;
  }
}
@media (max-width: 732px) {
  .dchm {
    grid-template-columns: repeat(1, 1fr);
  }
  .adr {
    height: 45rem;
    width: 45rem;
  }
}
@media (max-width: 630px) {
  .adr {
    height: 35rem;
    width: 35rem;
  }
  .adrm {
    overflow: hidden;
    width: 100%;
    padding: 8rem 100%;
  }
  .rd {
    height: 9rem;
    width: 9rem;
  }
  .cbr img {
    width: 30%;
  }
  .top_cont,
  .left_cont,
  .btm_cont {
    font-size: 5rem;
  }
  .right_cont {
    font-size: 5rem;
    right: -4rem;
  }
  .top_cont {
    top: -4rem;
  }
  .left_cont {
    left: -4rem;
  }
  .btm_cont {
    bottom: -4rem;
  }
  .s2_heading_main {
    margin-top: 7rem;
  }
  .s2_heading {
    font-size: 4rem;
    font-weight: 600;
  }
  .mastar_behind h3 {
    font-size: 2.4rem;
    width: 80%;
    text-align: center;
  }
  .mastar_div_me_main {
    width: 100%;
  }
  .copyright,
  .akashf {
    font-size: 1.3rem;
  }
  .dchm {
    margin-top: 1rem;
  }
  .adrm {
    padding: 5rem 100%;
  }
  .alldivrotate {
    margin-top: 5rem;
  }
  .section2_main {
    margin-bottom: 4rem;
  }
  .mastar_div_me_main::after {
    width: 100%;
  }
  .left {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .aicontent::after {
    left: -2.44rem;
  }
  main {
    padding-top: 1rem;
  }
  .cursor {
    display: none;
  }
  .s2_heading {
    font-size: 3.5rem;
  }
  .data_heading_cont h3 {
    font-size: 2.5rem;
  }
  .data_heading_cont h3::after {
    width: 32%;
    bottom: 0rem;
  }
  .adr {
    height: 28rem;
    width: 28rem;
  }
  .rd {
    height: 7rem;
    width: 7rem;
  }
  .top_cont,
  .left_cont,
  .btm_cont {
    font-size: 3rem;
  }
  .right_cont {
    font-size: 3rem;
    right: -3rem;
  }
  .top_cont {
    top: -3rem;
  }
  .left_cont {
    left: -3rem;
  }
  .btm_cont {
    bottom: -3rem;
  }
  .mastar_div_me_main::after {
    width: 155%;
  }
  .mastar_div_me_main {
    height: 41rem;
  }
  .mastar_behind h3 {
    font-size: 2rem;
    width: 90%;
  }
  .member_main {
    margin-bottom: 5rem;
  }

  .chat,
  .aicontent {
    width: 90%;
  }
  .chatbot_main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding-top: 4rem;
    overflow: hidden;
  }
}

/* !dark mode */
.changeicon {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.changedark {
  grid-row: 1/2;
  color: var(--ff);
}
.mi{
  color: var(--ff);
}
